<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}
    </title>
    <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <style>
        .mainn1 span {
            display: inline-block;
        }
    </style>

    <nav class="navbar navbar-expand-lg bg-dark-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NAVBAR
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
                    </li>




                </ul>
                <div class="mainn1">
                    <span class="px-2"><a class=" my-2 fas fa-heart fa-lg" style="text-decoration: none;" aria-current=" page " href="/wishlist"> </a> MY WISHLIST</span>
                    <span class="px-2"><a class=" my-2 fas fa-shopping-bag fa-lg" aria-current=" page " href="/cart"></a> CART</span>
                    <span class="px-2"> <a class="my-2 fas fa-user fa-lg " aria-current=" page " href="/login"></a> MY ACCOUNT</span>



                </div>
                <form class="d-flex " role="search ">
                    <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                    <button class="btn btn-outline-success " type="submit ">Search</button>
                </form>

            </div>
        </div>
    </nav>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 " role="alert ">
        {{ message }} <button type="button " class="btn-close " data-bs-dismiss="alert " aria-label="Close ">
            
        </button>
    </div>
    {% endfor %} {% endif %} {% block body %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js " integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN " crossorigin="anonymous "></script>
</body>

</html>